alembic<=1.4.1
azure-storage-blob>=12.0
click>=7.0
cloudpickle
databricks-cli>=0.8.7
requests>=2.17.3
six>=1.10.0
gunicorn
Flask
numpy
pandas
python-dateutil
protobuf>=3.6.0
gitpython>=2.1.0
pyyaml
querystring_parser
docker>=4.0.0
entrypoints
sqlparse
sqlalchemy<=1.3.13
gorilla
prometheus-flask-exporter
